# Functions for initial setup

complete_setup() {
    ssh_setup
    connect_wifi $1
{% if auto_install_package_on_boot %}
    install_pkgs
{% endif %}
}

install_pkgs() {
    echo "Install Packages..."
    cd /home/packages/
    for pkg in */; do
        cd /home/packages/$pkg
        dpkg --install *.deb
    done
}

ssh_setup() {
    echo "Setting up ssh..."
    sed -i -r 's|^.?PermitRootLogin .*|PermitRootLogin yes|' /etc/ssh/sshd_config
    sed -i -r 's|^.?GSSAPIAuthentication .*|GSSAPIAuthentication yes|' /etc/ssh/sshd_config
    sed -i 's|session\s*required\s*pam_loginuid.so|session optional pam_loginuid.so|g' /etc/pam.d/sshd
    echo 'root:root' | chpasswd
}

connect_wifi() {
    echo "Connecting to network..."
    wpa_passphrase {{ wifi_ssid }} $1 > /etc/wpa_supplicant/wpa_supplicant.conf
    sed --in-place '/#psk=/d' /etc/wpa_supplicant/wpa_supplicant.conf
    ip link set wlan0 up
    wpa_supplicant -B -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant.conf
    dhclient -v wlan0
}

if [ -f /root/init_boot ]; then
    wifi_pass=$(cat /root/init_boot)
    complete_setup $wifi_pass &> /root/install_complete.log
    rm /root/init_boot
    # shutdown -r now
fi
